.container-color{
    background-color: #376ba5;
}

.form-block{
    margin: 50px;
}

.block{
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
